<%- include('../partials/header') %>

<h1>Display Feed</h1>

  <% posts.forEach(post => { %>
    <div class="card">
      <div class="card-header">
        <%= post.postedBy %> <img id="avatarPhoto" width="30" src="<%= post.avatar %>" alt="">
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.name %></h5>
        <h6><%= post.createdAt.toLocaleString()%></h6>
        <img src= "<%= post.Posts %>" />
        <%= post.Likes %> Likes 
        
        
        <%= post.Caption %> 
      </div>
    </div>
  <% }) %>
  
<%- include('../partials/footer') %>